[2017-08-02 19:21] cRicateau opened #2 "Add Flow"

[2017-08-06 16:23] Miniplop opened #3 "Error mv at the end"
### Environement
Linux Ubuntu 16.04 LTS
node 6.10.3

The directories copy at the end fail :/

![image](https://user-images.githubusercontent.com/15800180/29005120-8f200eaa-7ad4-11e7-9a13-d9d393aa55de.png)

[2017-08-06 17:29] Miniplop opened #6 "Create an alias to avoid relative import"
To avoid this :
![image](https://user-images.githubusercontent.com/15800180/29005479-90177c78-7adc-11e7-9287-1ba91344c6ce.png)

It's a good practice to have an 'src' alias in the webpack config
=> Vue cli make the change here => https://github.com/vuejs/vue-cli/commit/e98cc81acb0a6a244db6de9198d00d1621616837

To do so we can run 'yarn eject' => then add this line in the webpack config alias part:

[2017-08-08 06:35] cRicateau commented on #3
resolved #8

[2017-08-08 06:35] #3 closed

[2017-08-10 10:31] Miniplop opened #16 "I have an ansible based generator"
### The proposed architecture:

Yeoman only creates a playbook with the roles corresponding to the user choices.
You run ansible and the whole stack is created.

### Plan d'une install

0. Lancer Yeoman pour générer le Vagrantfile et le playbook
1. Installer Vagrant
2. Le playbook installe les logiciels (nginx, php, node, etc)
3. Le playbook copie les bons fichiers (react, angular, loopback, symfo

[2017-08-15 17:23] cRicateau opened #23 "Capistrano deployment fails"
Because the symfony code is in the server directory, capistrano doesn't find the file composer.json (located in server/composer.json) and fails.

I tried and was not able to use a composer.json which is not in the same folder as the symfony code.

The solution could be to remove the server directory and put the symfony code in the root of the project

[2017-08-16 17:44] cRicateau commented on #16
@Miniplop I am not sure why you would want to use ansible instead of javascript to handle all of this, what is the problem with yeoman ?

[2017-08-16 17:48] cRicateau commented on #6
@Miniplop have you tried https://github.com/facebookincubator/create-react-app/issues/2188 ?

[2017-08-19 17:31] #23 closed

[2017-08-20 12:34] cRicateau opened #29 "Symfony deployment is missing client files task"
Capistrano should run yarn and yarn build and symlink the client/build folder in web/build. Currently those steps are done manually for each deployment

[2017-08-20 21:14] cRicateau commented on #29
fixed #30

[2017-08-20 21:14] #29 closed

[2017-08-20 21:14] #2 closed

[2017-08-20 22:39] Miniplop commented on #6
@cRicateau Not yet, I will tomorow :)

[2017-08-28 22:40] Miniplop commented on #6
@cRicateau I didn't test yet, I schedule this on sunday :)

[2017-08-29 20:25] cRicateau commented on #6
@Miniplop
I tried
[code]
in your client/.env file for this.

It worked, but then it breaks the linter for the "import/no-extraneous-dependencies" rule... Maybe it could be added in the doc to explain how to do it ?

[2017-09-14 10:25] Miniplop opened #37 "Use pure Component in dev vs Component in prod/staging"

[2017-09-19 14:58] #37 closed

[2017-10-07 12:24] foucdeg opened #41 "Do not create client/ or server/ subdirectories when generating a client only or a server only"
I generated only a client, and it was generated in the `client/` subdirectory of my project. There's not much point of a `client/` subdirectory if you just have the client. I ended up moving everything up one level.

[2017-10-22 09:40] cRicateau commented on #6
@tcheymol #44

[2017-10-31 18:42] febeck opened #46 "Test module composant Page"
Pourquoi est-ce que vous n'utilisez pas des snapshot pour tester le module du composant Page, surtout pour les créateurs d'action et aussi pour le reducer qui n'est pas encore testé ?

Vu que c'est "juste" des objets JSON ça pourrait économiser un peu de temps lors qu'on doit écrire des tests, non ?

Par exemple, pour les action

[code]

pourrait devenir

[code]

Et la même chose pour le reducer e

[2017-12-10 15:33] benja-M-1 opened #51 "React + Redux architecture"
I was wondering why the folder containing the global store, reducer and sagas is named ```module```? Moreover, there are modules in pages alongside to components, container, tests and so on... it is even more confusing.

@cRicateau @tcheymol can you explain it to me here please?

[2017-12-10 15:34] benja-M-1 commented on #41
@foucdeg could you please do a PR?

[2017-12-10 15:35] benja-M-1 commented on #6
@cRicateau @Miniplop what is the status of this issue?

[2017-12-10 15:38] benja-M-1 commented on #16
@Miniplop je comprends pas ce que tu proposes. C'est toujours d'actualité ? Sinon tu peux fermer l'issue stp ?

[2017-12-11 09:31] foucdeg commented on #41
@benja-M-1 Sure, but I know nothing about yeoman generators. I'll look into it.

[2017-12-11 15:08] #16 closed

[2017-12-11 15:12] benja-M-1 opened #52 "Split generators in react / provisioning / deployment / server"
Having a standalone client app generator and server app generator.
Do not generate a client directory when no backend is used #41

[2017-12-11 15:12] cRicateau opened #53 "Remove Docker 🐳"
Could docker be used in production ?

[2017-12-11 15:15] cRicateau opened #54 "Add explicit comments to tell user where to add code + doc"
Define what is a:
- Page
- Component

[2017-12-11 15:22] cRicateau opened #55 "Make Avatar example optional"

[2017-12-11 15:23] benja-M-1 opened #56 "Upgrade react-router to v4"

[2017-12-11 15:25] benja-M-1 opened #57 "Use Fansible provisioning"
@MaximeThoonsen would you like to update fansible and integrate it in here?

[2017-12-11 15:28] MaximeThoonsen commented on #57
@benja-M-1 I can help if there are problem but I think the roles here are fine. Next bug update will be for the next Ubuntu LTS

[2017-12-11 15:39] benja-M-1 commented on #57
I mean I would like we do not reinvent the wheel here and reuse what you've done on Fansible instead.

[2017-12-11 15:41] MaximeThoonsen commented on #57
@benja-M-1 it's too late

[2017-12-12 08:23] cRicateau commented on #56
this resolves #50

[2017-12-12 08:23] #56 closed

[2017-12-12 08:25] cRicateau commented on #6
#44 closes this issue

[2017-12-12 08:25] #6 closed

[2017-12-12 08:31] cRicateau commented on #51
@benja-M-1 From what I have read so far on the subject, my recommandation would be to move toward this pattern: https://medium.freecodecamp.org/scaling-your-redux-app-with-ducks-6115955638be 👍
[code]

[2017-12-14 10:25] jbeurel commented on #52
"Do not generate a client directory when no backend is used" +1

"Having a standalone client generator and server generator." Why ?

[2017-12-14 11:06] benja-M-1 commented on #52
I updated the description. We may want to generate only the client app without backend. Moving them in different generators is a way to decouple the two in the code. There may be other options :)

[2017-12-15 21:46] benja-M-1 commented on #51
I would love to have a broder vue of a react + redux + saga application. I propose the following file tree based on the discussions I had today with @lechinoix.
I know that @ghamaide disagree on the split of reducers + actions + selectors, I don't have opinion on that. I simply think that we should have one and only one way of doing things to avoir the burden to ask ourselves if it is time or not

[2017-12-18 08:21] ghamaide commented on #51
@benja-M-1 my pain point is the fact that you have to edit 5 files when you do redux stuff :) In this architecture, where do you put the redux stuff that is used for ui or routing in your app ? Like a side-bar toggle ?
In `entities/Authors`, I think your file names should be prefixed by Authors like in `entities/Articles`
By the way, if we build SPAs (single page applications), shouldn't our `page

[2017-12-22 09:12] cRicateau opened #59 "Add a plopjs generator to create components"

[2017-12-22 09:12] benja-M-1 opened #60 "Remove loopback"

[2017-12-22 09:36] cRicateau opened #61 "Add style-components"
We need to be able to see the component className in dev for debugging purposes

[2017-12-22 09:40] benja-M-1 opened #62 "Where to put generic and high level components"
We have to tell devs where to store high level components like toasters and modals.

To help to decide it would be helpful to have examples.

[2017-12-22 09:44] cRicateau opened #63 "Add a client debug tool for production"
Could we use  ?
- sentry
- splunk
- loggly
- opbeat

[2017-12-22 10:02] benja-M-1 commented on #51
We looked at what BAM does on investo and it is very clear and easy to use.

[code]

---
pages :
* are linked to a route
* it declares every components in the page

components :
* are autonomous UI elements
* there are no reducers in components

[2017-12-22 10:02] #62 closed

[2017-12-22 10:06] benja-M-1 opened #64 "Flow everywhere"

[2017-12-22 10:57] phacks commented on #51
On Smart Advisor we use an “investo-like” structure and I couldn’t be more happy with it.

[2017-12-22 13:30] jbeurel commented on #59
Salut @cRicateau

C'est bien avec toi que j'ai eu la conversation par téléphone sur Plopjs ? Tu m'avais dis que ça ne valait pas le coup et que c''était mieux de faire une refacto plutôt que je générer du code.

Ca a changé ? L'approche est différente ?

[2017-12-22 13:36] jbeurel commented on #52
@benja-M-1 Je ne comprends toujours pas le cas d'usage :-/

[2017-12-27 17:09] marcenacp commented on #59
#66

[2017-12-28 10:52] ghamaide commented on #60
Done in #67 cc @cRicateau

[2017-12-28 10:52] #60 closed

[2017-12-28 10:57] cRicateau commented on #52
#67

[2017-12-28 10:57] #52 closed

[2017-12-28 10:57] cRicateau commented on #41
#67

[2017-12-28 10:57] #41 closed

[2017-12-28 11:30] cRicateau commented on #59
@jbeurel Oui on en avait parlé. Je l'avait compris au début comme un moyen de remplacer yeoman et/ou un moyen de générer des modules de l'appli tel qu'un CRUD par exemple.

Après démo d'un cas d'usage par @marcenacp et le retour d'XP sur Saham, je vois aujourd'hui un vrai valeur. L'objectif est de pouvoir générer son component react en une command, au lieu de devoir créer un fichier, copier-coller

[2017-12-28 12:58] cRicateau commented on #55
#68

[2017-12-28 12:58] #55 closed

[2017-12-29 09:22] cRicateau commented on #59
#66

[2017-12-29 09:22] #59 closed

[2017-12-29 09:24] cRicateau opened #69 "Split doc from server into server and client doc"

[2017-12-29 15:03] marcenacp opened #70 "Add a plopjs generator to add new redux constants/actions/reducers"

[2018-01-05 14:23] cRicateau opened #72 "Add "withRouter" on all pages - waiting for react-router-redux v5 stable release"
Otherwise we dont understand how history is injected

[2018-01-08 16:02] cRicateau commented on #54
resolved #74

[2018-01-08 16:02] cRicateau commented on #69
resolved #74

[2018-01-08 16:02] #69 closed

[2018-01-11 09:01] georgesbiaux opened #75 "appName param not working and putting "true" everywhere instead"
When generating the project, I specified the appName after running the command `yo theodo-stack ` but got `true` instead of my appName.

For example in the Vagrantfile, I had `true.dev` as the url of my application

[2018-01-26 13:39] cRicateau commented on #61
resolved

[2018-01-26 13:39] #61 closed

[2018-01-26 15:29] cRicateau commented on #51
@benja-M-1 resolved #78

[2018-01-26 15:29] #51 closed

[2018-02-16 15:47] #54 closed

[2018-02-16 15:55] tcheymol opened #81 "Configure the code coverage"
Ignore

- *.container
- index.js
- *.test.js

ajouter le threshold à 100%

[2018-02-16 16:04] tcheymol opened #82 "Séparer React et Symfony au niveau de Nginx"

[2018-02-16 16:07] georgesbiaux opened #83 "Corriger le provisioning pour avoir la dernière version de PHP"

[2018-02-16 16:11] georgesbiaux opened #84 "Rendre le générateur Symfony 4 compliant"
- [x]  Plus de parameters.yml
- [x] Fichier de conf NGINX compatible Symfony 4
- [x] Fichier de conf Capistrano compatible Symfony 4
- [x] Récupérer la dernière version de Symfony

[2018-02-16 16:11] georgesbiaux opened #85 "Réparer le travis.yml pour symfony 4"

[2018-02-16 16:11] georgesbiaux opened #86 "Créer une conf de base pour circle CI 2.0"

[2018-02-16 16:13] georgesbiaux opened #87 "Ajouter une config pour React au travis.yml"

[2018-02-16 16:13] tcheymol commented on #82
![image](https://user-images.githubusercontent.com/9215726/36317193-bc3f34d2-133c-11e8-9e78-79ba36a26ec4.jpeg)

[2018-03-06 19:19] JusteLeblanc commented on #83
https://github.com/theodo/theodo-stack-generator/pull/91

[2018-03-15 18:32] #83 closed

[2018-03-16 16:22] phacks opened #102 "Mettre à jour le readme pour préciser la dernière version stable"
En suivant les instructions du README, j'ai installé la branche `master` qui n'était pas du tout stable.

Il faudrait indiquer la dernière versions stable dans le README.

[2018-03-16 19:50] benja-M-1 commented on #102
@phacks quels étaient les problèmes que tu as rencontré ?

[2018-03-19 08:20] phacks commented on #102
@benja-M-1 J'en ai parlé vite fait à @JusteLeblanc mais j'en ai corrigé 5 (toutes bloquantes) dans cette pr #101, et je pense qu'il en reste encore

[2018-03-20 15:36] jbeurel opened #104 "Comment je mets à jour theodo-stack-generator ?"
Salut,

Je créé un nouveau projet. J'ai déjà Theodo Stack Generator sur mon laptop.

- C'est quoi la procédure la plus courte pour mettre à jour TSG ?

[2018-03-20 15:46] jbeurel opened #105 "Il y a un conflit à la création du projet react sur src/index.css"
Voici mes réponses à Yo
![image](https://user-images.githubusercontent.com/1665948/37665747-3adced18-2c5e-11e8-9cb3-47d369c63106.png)
Voici le message d'erreur
![image](https://user-images.githubusercontent.com/1665948/37665693-1f36b77e-2c5e-11e8-9c05-5a65cbe2071b.png)

[2018-03-21 13:42] benja-M-1 opened #106 "Immutable or not ?"

[2018-03-21 13:44] benja-M-1 commented on #105
@jbeurel tu sais quel était le conflit dans le fichier ?

[2018-03-21 13:47] benja-M-1 commented on #104
Tu mets à jour ton repository git et ensuite :

[code]

[2018-03-22 18:31] benja-M-1 opened #107 "Mettre en place l'authentification JWT"

[2018-03-23 13:28] tcheymol opened #108 "Absolute imports broken"

[2018-03-23 13:28] tcheymol opened #109 "Use Superagent for requests"

[2018-03-27 10:59] williamdclt commented on #81
Wow, you want to ignore the containers? Why?

[2018-03-27 15:59] #81 closed

[2018-03-27 16:01] georgesbiaux commented on #53
Dans generator/server/index.js il y a toujours une condition sur virtualEnv !==='docker'

[2018-03-27 16:04] ghamaide commented on #72
@tcheymol @benja-M-1 we should use react-router-redux instead rather no ?

[2018-03-27 16:59] #84 closed

[2018-03-27 17:00] JusteLeblanc opened #112 "[Symfony 4] Utiliser dotenv pour la gestion des variables d'environnement"
- [x] Mettre à jour le .env avec l'ip du serveur en trusted proxies
- [ ] Documenter la création du .env sur le staging et la prod

[2018-03-30 09:40] #53 closed

[2018-03-30 22:29] benja-M-1 commented on #72
@lechinoix ?

[2018-04-03 07:34] georgesbiaux commented on #85
Closed in favor of https://github.com/theodo/theodo-stack-generator/issues/86

[2018-04-03 07:34] #85 closed

[2018-04-03 07:41] georgesbiaux opened #115 "Checksum mismatch when installing php libraries during provisionning"

[2018-04-04 16:09] williamdclt commented on #72
@ghamaide Redux 16 is only compatible with react-router 4, which is only compatible with react-router-redux 5 *alpha*. Using alpha packages is a bad idea, and not possible on some projects with strict security policies

[2018-04-05 06:41] ghamaide commented on #72
@williamdclt @benja-M-1 @tcheymol I suggest we leave this issue open until at least a beta package of react-router-redux is delivered. Ok for you ? I can add the withRouter for the moment.

[2018-04-05 14:40] williamdclt opened #117 "Getting rid of Immutable"
One of the main differences between FR and UK React boilerplates is the use of Immutable. We are not using it in the UK, and nobody here seems keen on using it on a project (even for people having used it before).

Currently, that's one of the blockers for merging the UK and FR boilerplates.

The arguments are:
- It is unnecessary, we don't need ImmutableJS to write immutable code (and the code we

[2018-04-05 14:43] williamdclt opened #118 "Flow pro and con"
It seems that it became a standard in FR project to use Flow. What are the arguments? Pros and con?

Today that's one of the blockers that prevents merging the UK and FR boilerplates

@lechinoix @tcheymol

[2018-04-05 16:30] williamdclt opened #119 "Change ".component" and ".container" extensions"
The current naming convention for React components in this boilerplate is to name them `Foo.component.js` (for presentationals) and `Foo.containers.js` (for containers).

In the UK, our convention is to name them respectively `Foo.js` and `Foo.wrap.js`. The advantages are:
- Shorter name for same quantity of information
  - Both "component" and "container" are fairly long words, that clutter the e

[2018-04-05 16:52] williamdclt opened #120 "React: move tests to subfolders"
The React tests in this boilerplate are at the same level as the code:
[code]

This clutters the component folder and makes it harder to find instantly what you're looking for.

A more common pattern is to put the tests in a subfolder:

[code]

Any particular reason this isn't the case here? @lechinoix @georgesbiaux

[2018-04-07 12:58] benja-M-1 commented on #119
@williamdclt can you paste samples of wrappers that stack many HoC?

[2018-04-07 15:16] williamdclt commented on #119
[code]

[2018-04-08 13:52] MaximeThoonsen opened #121 "Missing some files"
I just made a fresh install and it lacks:

- .gitignore
- registerServiceWorker.js
- index.html

[2018-04-08 18:28] benja-M-1 commented on #121
What did yo uinstall? Only a react app?

[2018-04-08 18:52] benja-M-1 commented on #106
closed in favor of  #117

[2018-04-08 18:52] #106 closed

[2018-04-09 08:15] MaximeThoonsen commented on #121
OK I'll do that

[2018-04-09 10:25] MaximeThoonsen commented on #121
![image](https://user-images.githubusercontent.com/4814551/38493008-fd64b43c-3bf0-11e8-8069-bcb6af23261a.png)

done @benja-M-1
I've git cloned the repo + npm link it

[2018-04-10 12:47] JusteLeblanc opened #123 "API URL is api.domain_name vs domain_name/api"
- [ ] Update NGINX conf
- [ ] Update documentation
- [ ] Specify a domain and not IP adress to access to local (10.0.0.10)

![](https://user-images.githubusercontent.com/9215726/36317193-bc3f34d2-133c-11e8-9e78-79ba36a26ec4.jpeg)

[2018-04-10 12:56] #64 closed

[2018-04-10 12:57] benja-M-1 commented on #107
@jbeurel tu as avancé avec @Miniplop sur le sujet ou pas du tout ? Vous avez besoin d'un coup de main ?

[2018-04-10 14:44] georgesbiaux commented on #120
@williamdclt No particular reason for me. I agree to move the tests files in a dedicated folder :)

I assign the issue to myself

[2018-04-10 17:39] benja-M-1 commented on #117
The latest news I have from @jbeurel is that @JeremD discoverd that Immutable is not a good choice. He will publish an article to explain why and then remove Immutable from the stack :) Should be done by 20/04 !

[2018-04-11 06:02] tcheymol commented on #120
@williamdclt Ok for me. You wanna to it ?

[2018-04-11 06:16] tcheymol commented on #119
@williamdclt That seems good, I have no reluctance

[2018-04-11 06:53] tcheymol commented on #118
@williamdclt Flow helps developpers a lot

- Code faster with IDE autocompletion
- Understand the code faster
- Check a lot of edge cases (bye bye "can not get property 'truc' of undefined"), so reduces the bugs amount
- Helps in writing tests scenarios

[2018-04-11 09:32] williamdclt commented on #117
👍

[2018-04-11 11:26] williamdclt opened #124 "Is the example app useful?"
Is anyone actually using the example app?

The code is sprinkled with `<% if (exampleRequired) { %>` tags. That makes the generator quite hard to maintain, and hard to test.

We could have a separate repo with a sample app if having an example seem necessary. Downside would be that it would require to maintain both repos in parallel.

This is just an idea, not a strong opinion. If you have an exam

[2018-04-11 13:35] tcheymol commented on #109
Pros and cons for Axios/Sueragent vs fetch API

Cons

- Another library to add
- More issues opened

Pros

- **OK sur IE 11**
- We can set the header for all the requests instead of setting it all the time
- We can cancel the requests
- Syntax is cleaner
- We send preflights requests
- No need to transform the result into json
- More frequent releases
- More stargazers
- Strong documentation
- Tra

[2018-04-15 12:06] benja-M-1 commented on #124
I don't like the idea to have a separate repository for the examples.

Maybe we could dynamically add the examples components and pages in the code instead. @williamdclt @tcheymol @georgesbiaux @ghamaide do you any existing solution that could do that?

[2018-04-17 13:47] williamdclt commented on #124
Before looking for how to handle the example app: has it ever been used by anyone?

[2018-04-18 08:13] foucdeg opened #134 "Do not use `Container` for the name of the generated styled.div around a component"
It's confusing :/

[2018-04-18 09:39] williamdclt commented on #134
Agreed.
And I'm not sure the architecture here really makes sense? I'm expecting the `Foo.style.js` to import and wrap `Foo.component.js` with some style, not `Foo.component` to wrap itself. There's no reason for the `.component` to be aware of styling, and it makes it less reusable

[2018-04-19 08:52] foucdeg commented on #134
@williamdclt a downside of that would be that you have no control over where to use the styled.div : it will systematically create a <div> around your component

[2018-04-19 09:05] williamdclt commented on #134
I'm not used to styled so I'm really not the best to judge of that, but it seem to make sense to me to systematically create the `div` around the component. It doesn't seem a good pratice to have this `Container` somewhere inside the component.

But then once again, I've never actually used styled so...

[2018-04-19 11:52] foucdeg commented on #134
I'd rather control where actual DOM is created.

[2018-04-23 16:01] williamdclt commented on #120
Done

[2018-04-23 16:01] #120 closed

[2018-04-23 16:01] williamdclt commented on #119
Done

[2018-04-23 16:01] #119 closed

[2018-04-23 16:06] williamdclt commented on #118
@tcheymol  I have no argument against, there's an ongoing discussion in the UK about using Flow. I might come back to you if it ends up being KO'd. Worst case scenario, we maintain an unflowed.

I'll close for now

[2018-04-23 16:06] #118 closed

[2018-04-23 16:09] williamdclt commented on #117
Done by @JeremD in https://github.com/theodo/theodo-stack-generator/pull/126

[2018-04-23 16:09] #117 closed

[2018-04-24 12:47] JusteLeblanc opened #137 "PHPUnit configuration for API Platform unit testing"

[2018-04-27 10:58] JusteLeblanc opened #138 "Make Symfony generator works"
- [ ] Update .env with correct TRUSTED_HOST
- [ ] Update Nginx configuration to redirect / to index.php
- [ ] Specify the correct path to run composer commands
- [ ] Update installation documentation to have database working (.env update)

[2018-04-28 18:32] benja-M-1 commented on #124
Good point, I do not know! I will ask on workplace. BTW it makes me think that we do not have any feedback on the generator usage. We could add something like this: https://github.com/yeoman/insight

[2018-04-28 21:55] benja-M-1 commented on #134
@foucdeg to better understand your point, I need an example of what is wrong to you and what it should be. Can you do that please?

[2018-04-30 10:18] foucdeg commented on #134
@benja-M-1 here's the generated code for a PureComponent using StyledComponents:

[code]

I just want the styled div `Container` to be called something else, because people might think that it refers to a Redux container, although it's a styled div. Let's avoid having one name for two completely different things.

[2018-04-30 13:26] foucdeg commented on #134
as seen with @Kui-kui :
- in {{ component }}.style.js, name the div `Styled` with the component name and make it default export
- in {{ component }}.component.js, import it as `Style`

[2018-04-30 16:19] jbeurel commented on #107
Tu avances sur la [rédaction du standard](http://blog.m33.network/2018/03/react-api-platform-authentication/). On fera l'ajout au générateur dans un deuxième temps.

[2018-04-30 16:26] jbeurel commented on #104
Je ne pense pas que ce soit suffisant. Après le npm link, le dossier local fait partie des repo npm. Du coup, il faut faire un git pull, puis un npm update -g theodo-stack-generator.

Si c'est bien ça, j'ai fait un PR de MAJ de la doc -> https://github.com/theodo/theodo-stack-generator/pull/139

[2018-05-02 09:46] benja-M-1 commented on #104
Comme je viens de te montrer le npm link fait un lien symbolique donc l'update sert à priori à rien

[2018-05-02 20:00] jbeurel commented on #105
Je n'ai plus le problème. J'ai l'impression que ton commit a résolu le problème

[2018-05-02 20:00] #105 closed

[2018-05-02 20:04] jbeurel opened #140 "API Platform generator does not work"
Voici ce que j'ai demandé au générateur
![image](https://user-images.githubusercontent.com/1665948/39546368-74624c78-4e54-11e8-8d52-c6e0dd8eb599.png)

Et voici le contenu du répertoire.
![image](https://user-images.githubusercontent.com/1665948/39546377-7cfc5e00-4e54-11e8-86e3-554355fda6b8.png)

Je n'ai pas de dossier `server`. J'ai loupé quelque chose ?

ping @benja-M-1 @JusteLeblanc @ghamaide @g

[2018-05-03 06:40] JusteLeblanc commented on #140
@jbeurel le générateur APIPlatform permet de :
- générer le provisionning pour avoir une VM PHP7 avec Nginx configuré
- générer une doc pour installer un projet Symfony en quelques lignes de commande shell (Readme). C'est en suivant cette doc que tu auras un dossier api ou server

[2018-05-03 06:42] #140 closed

[2018-05-07 10:02] Remy-Luciani opened #141 "Installation procedure improvement"
With @clementhannicq , we want to make each generated project installation a great experience for the developers: it has to be short, simple because it works at first try everytime. To do so, we want to generate a Makefile executing all the necessary tasks.

Nevertheless, we have spotted some steps that need to be improve before creating such Makefile. We note them here.

Project where the generat

[2018-05-15 12:56] benja-M-1 opened #142 "Split generators"
- [ ] theodo-stack:provisioning
- [ ] theodo-stack:react
- [ ] theodo-stack:react:ci
- [ ] theodo-stack:react:examples
- [ ] theodo-stack:react:generators
- [ ] theodo-stack:react:install-router
- [ ] theodo-stack:react:install-redux
- [ ] theodo-stack:react:install-saga
- [ ] theodo-stack:react:install-flow
- [ ] theodo-stack:react:install-material-ui

[2018-05-15 13:01] tcheymol commented on #142
theodo-stack:react:install-flow

[2018-05-15 13:01] georgesbiaux commented on #142
theodo-stack:react:ci

[2018-05-30 09:54] YuLingCheng opened #144 "cannot use component generator (plop) if no folder 'pages'"
![image](https://user-images.githubusercontent.com/7447041/40713426-2f5624da-6400-11e8-866f-7916fb69f732.png)

[2018-05-30 13:59] jbeurel commented on #144
Salut @marcenacp . Yuling fait un client chat en React. Elle n'a pas de répertoire "pages", du coup, elle ne peut pas utiliser le générateur de composant. Tu crois que tu peux gérer pour que le répertoire "pages" soit optionnel ?

[2018-05-31 12:44] jbeurel commented on #119
Hi @williamdclt

Beau boulot. Tes explications et tes exemples sont très clairs. Est-ce que tu peux mettre à jour le standard M33 en suivant ces nouvelles conventions de nommage ? -> http://blog.m33.network/2017/11/react-component/

[2018-05-31 13:11] williamdclt commented on #119
@jbeurel Done!

[2018-06-06 16:10] marcenacp commented on #144
@YuLingCheng @jbeurel There is a quick PR for that: https://github.com/theodo/theodo-stack-generator/pull/146

[2018-06-11 11:22] marcenacp commented on #144
@YuLingCheng Can you confirm it solved your issue?
(You can copy `theodo-stack-generator/generators/react/templates/scripts/generators/` in your project `scripts/generators`.)

[2018-06-19 13:49] JusteLeblanc commented on #115
@georgesbiaux It works fine for me, have you tried recently ?

[2018-06-25 06:39] YuLingCheng commented on #144
Thanks @marcenacp !

[2018-06-25 06:48] YuLingCheng commented on #144
@marcenacp perfect thanks!

[2018-07-10 23:23] #144 closed

[2018-07-10 23:29] benja-M-1 commented on #141
@Remy-Luciani this was the case before @Miniplop changed it here: https://github.com/theodo/theodo-stack-generator/commit/a2e2b0cf59f5c2aed72ccebd872f1a06430348a0#diff-1e2a76fddfcdabb9d06d8acc3ebefa42.

@Miniplop do you remember why you removed the provisioning command from the Vagrantfile?

[2018-07-29 16:16] #115 closed

[2018-07-29 16:19] #109 closed

[2018-07-31 09:54] #46 closed

[2018-07-31 09:54] #104 closed

[2018-07-31 09:54] tcheymol commented on #104
Ça a été rajouté dans la doc, je close l'issue

[2018-07-31 09:55] tcheymol commented on #63
This is currently not on the roadmap, I ll close this for now

[2018-07-31 09:55] #63 closed

[2018-07-31 09:57] tcheymol commented on #124
@williamdclt The example is here to demonstrate good practices in React and to drive a clean maintainable, and m33-shared architecture, so we need this for new project.

[2018-07-31 09:57] #124 closed

[2018-07-31 10:02] tcheymol commented on #121
@MaximeThoonsen

* I think we are not experienced enough in PWA to provide a good SW
* For the 2 other files, I got them, can you try again ? (you can `npm unlink` and then reinstall it since it has been released on npm)

[2018-08-01 00:09] benja-M-1 commented on #112
@JusteLeblanc tu devrais lire http://fabien.potencier.org/symfony4-best-practices.html#environment-variables

[2018-08-01 00:11] #57 closed

[2018-08-01 00:14] benja-M-1 commented on #108
@tcheymol is it still relevant? If yes can you provide more information about the issue?

[2018-08-01 00:26] #102 closed

[2018-08-01 00:26] benja-M-1 commented on #123
duplicates #82

[2018-08-01 00:27] benja-M-1 commented on #82
closed in favor of #123

[2018-08-01 00:27] #82 closed

[2018-08-01 00:30] benja-M-1 commented on #86
closed in favor of #142

[2018-08-01 00:30] #86 closed

[2018-08-01 00:34] benja-M-1 commented on #87
je ferme, on a déjà circle dans le générateur, si quelqu'un veut rajouter travis, une PR sera la bienvenue

[2018-08-01 00:34] #87 closed

[2018-08-01 00:35] benja-M-1 commented on #141
@Miniplop ?

[2018-08-01 00:36] benja-M-1 commented on #134
@foucdeg would you mind submit a PR?

[2018-08-08 15:18] foucdeg commented on #134
@benja-M-1 sure !

[2018-08-08 15:37] williamdclt opened #160 "Why Yeoman?"
Hi guys!
We're having great results at TheodoUK with our own generator, and are now working at making the generator as easy to use as possible: I want it to be impossible to fail if you follow the docs.

Our main problem with that right now is that we rely on `django-admin` being installed globally (that was our MVP template engine) and that's quite a big moving piece. I've looked into a few templ

[2018-08-08 15:39] foucdeg commented on #134
@benja-M-1 @williamdclt @Kui-kui I just found out that the issue has already been mitigated by [this commit](https://github.com/theodo/theodo-stack-generator/commit/8992fe92c5dcfcd256495a1e8e805a894475d7ca#diff-be1218dead5ec230a4053c985243c477) where Redux containers were renamed wrappers. There is no longer a conflict on the name "Container".

However, I still feel that "Style" and "StyledTodoLis

[2018-08-08 18:48] benja-M-1 commented on #160
Great news for your generator. I regret that we didn’t manage to merge the two in one. I feel bad because we are reinventing...

Clement started the generator with Yeoman because, I guess :
- he is a big fan of nodejs
- it was the one BAM chose too when he was there

We also have an issue with the global installation of php. For the moment we didn’t tacle it. But AFAIK there is no relation with Ye

[2018-08-09 09:15] williamdclt commented on #160
Yeah merging the 2 generators is not on my priorities right now but that might come in a later phase when we've managed to get below our 45min target

I'm not sure we'll go for Yeoman, Plop seems a better fit for us, we have a meeting tomorrow to decide on that :) If you're interested, my data sheet: https://docs.google.com/spreadsheets/d/1Ttzg-yzxPrZWa-91O7jL5kdeHsCW1nKMZFfg7jSf4qY/edit?usp=shari

[2018-08-10 16:26] clementhannicq opened #163 "Ansible warnings"
`ansible-playbook` raises a decent number of warnings, should we look into that

using `ansible 2.6.2`

[code]

[code]

[code]

[code]

[code]

[2018-08-10 16:35] clementhannicq commented on #141
@benja-M-1 Seen with @Miniplop one of the problem solved by separating those is to enable people to use the ansible playbook to provision a staging environment.

[2018-08-13 21:36] benja-M-1 commented on #141
@clementhannicq hum...  IMO the provisioning command should be at least documented to do it when needed, at best in a makefile. But it is not a good reason enough to me to adding this command to run when building the VM.

The provisioning could be rerun with ```vagrant provision```. We could add in the docs that the provisioning could be rerun with the ansible command with specific tags.

Do you t

[2018-08-13 21:36] benja-M-1 commented on #163
@clementhannicq yes we should, help is welcome :)

[2018-08-15 14:59] benja-M-1 commented on #134
@foucdeg Thanks, I merged your PR :)

[2018-08-15 14:59] #134 closed

[2018-08-20 09:31] clementhannicq commented on #141
@benja-M-1 I agree with you on that, but probably because I never encountered the issue. That would basically be reverting @Miniplop 's PR ? From what I understand separating those is something you both agreed on.

I'll have a look later, there's other things I want to do first on the generator.

[2018-08-21 08:39] MaximeThoonsen opened #165 "Use ansistrano instead of capistrano"
Hello,

On our project we have issues deploying the last version of api-platform with capistrano:

- Warming up the cache is not working (it seems to be because it's using the "--no-debug" flag)
- The env var is not correctly set up: it uses "dev" instead of prod and it's not a configuration problem, it's because the name of the var have changed
- Debug is difficult because we don't have the sourc

[2018-08-27 21:32] benja-M-1 commented on #165
Can you provide a screenshot of the result of the execution of the failing command we saw together?

This is actually wrong otherwise it wouldn't work :)
Sources are by default installed in the installed gem directory. To see where this directory is use ```gem environment```.
You can set it to wherever you want with bundler, for example: ```bundle config --local vendor/bundler```
This will install

[2018-08-27 21:39] benja-M-1 opened #171 "Using virtualenv for Ansible"
Switching project still comes with its pains. One of them is the version used of Ansible.

Ansible is a python library so it should be installable with pip and usable in a python virtualenv. This would allow to have many projects installed on your machine using different version of Ansible.

[2018-08-28 08:17] MaximeThoonsen opened #172 "Pas de standard pour installer et customiser Material-UI"

[2018-08-28 13:16] clementhannicq opened #173 "Vagrant base image is outdated"
[code]

[2018-08-28 13:30] clementhannicq opened #174 "Why Node 9.5 ?"
@tcheymol we are using node 9.5, this is neither a LTS version nor the lastest version.

Why specify the node version at all, actually? I'm running the generator with node 10.9 and I'm not encountering any issue

[2018-08-28 13:53] Remy-Luciani commented on #165
"Nothing is more dangerous than an idea, when it's the only one we have."

@MaximeThoonsen did you benchmark other solutions?

I used shipit to deploy React frontend apps and NodeJS backend app. It was OK, to maintain and use. But not declarative enough imo.

I don't code PHP anymore and never had the opportunity to test [Deployer](https://github.com/deployphp/deployer).

Other ideas: https://alte

[2018-08-28 14:30] benja-M-1 commented on #165
I love your criterias @Remy-Luciani  :)

FYI here is an "official" list of tools from the Symfony documentation: https://symfony.com/doc/current/deployment.html#using-build-scripts-and-other-tools

[2018-08-28 14:34] benja-M-1 commented on #70
Plop generators are in the ```generators/react-plop/templates/scripts/generators``` folder. To add new ones you can have a look to the existings generators ;)

@tcheymol you said that you created such generators on your project, would you mind to create a PR?

[2018-08-28 14:37] #72 closed

[2018-08-28 14:37] benja-M-1 opened #177 "Which routing system for react?"

[2018-08-28 14:37] benja-M-1 commented on #72
closed in favor of #177

[2018-08-28 14:38] ghamaide commented on #177
@benja-M-1 https://github.com/supasate/connected-react-router

[2018-08-28 14:42] MaximeThoonsen commented on #165
@Remy-Luciani
Oui j'ai essayé par le passé capistrano et shipit et j'avais regardé d'autres trucs mais qui n'étaient pas mieux que capistrano ou ansistrano.

✓ fast to deploy the code generated the first time (< 2 mind) => Si le générateur est à jour ce sera OK pour tous
✓ highly maintained repository => [last commit 6 days ago](https://github.com/ansistrano/deploy)
✓ easy to extend for custom tas

[2018-08-28 14:44] MaximeThoonsen commented on #165
Deployer j'avais testé sur fundshop mais ça m'avait pas convaincu, je me rappelle plus pourquoi :/.

Après c'est bien de vouloir benchmarker la terre entière mais ça prend du temps....

[2018-08-28 14:46] benja-M-1 commented on #121
Nobody can reproduce this so I close this issue. I hope @MaximeThoonsen won't get the issue again.

[2018-08-28 14:46] #121 closed

[2018-08-28 14:47] benja-M-1 commented on #172
linked to #142

[2018-08-28 14:49] #138 closed

[2018-08-28 14:50] benja-M-1 commented on #138
This issue has been split over time and some point are already fixed.

[2018-08-28 14:52] benja-M-1 commented on #112
On clos cette issue. Aujourd'hui le déploiement génère le .env à partir du dist.

[2018-08-28 14:52] #112 closed

[2018-08-28 15:04] tcheymol commented on #177
If it was me, I would connect my router to redux :

[code]

So that we can move all redirections in sagas and redirect like this :

[code]

[2018-08-28 15:11] clementhannicq commented on #177
I've been using connected-react-router and it worked really well (and you still get do dispatch push actions to change states from sagas). Relevant packages:

[code]

[2018-08-28 15:46] benja-M-1 commented on #177
we definitely need a standard on that... which React expert in Theodo would like to create it?

[2018-08-29 06:18] ghamaide commented on #177
@benja-M-1 on it

[2018-08-29 16:57] ghamaide commented on #177
@tcheymol @clementhannicq @benja-M-1 premier draft: https://m33.gitbook.io/standards/~/edit/drafts/-LL3J2PI5xgfWsiWSBnR/technical-gesture/theodo-stack/react-routing

[2018-08-29 16:58] ghamaide commented on #177
Je vais faire une PR pour mettre ces changements dans le générateur. Check vendredi 17h.

[2018-08-30 06:28] ghamaide opened #182 "Fix flow"
I generated a project from master and flow seems to be broken. There is no .flowconfig file.

![image](https://user-images.githubusercontent.com/6986811/44833555-aa463100-ac2e-11e8-964f-bee295373101.png)

[2018-08-30 06:50] ghamaide opened #183 "Use NPM instead of Yarn"
For now, when we generate a project, both are used and we end up with 2 lock files.

![image](https://user-images.githubusercontent.com/6986811/44834528-bd0e3500-ac31-11e8-9466-edcfd466dc30.png)

[2018-08-30 09:06] benja-M-1 commented on #165
@Remy-Luciani tu peux faire l'exercice pour shipit du coup ?

[2018-08-30 09:08] ghamaide commented on #108
@tcheymol any news on this ? Is it still a problem ?

[2018-08-30 09:53] phacks commented on #177
Le standard est très clair @ghamaide, et je 👍 le choix de react-router V4

[2018-08-30 12:55] benja-M-1 commented on #183
I guess it is beacause CRA uses Yarn... The react generator must remove this file...

@ghamaide as you are a yarn advocate maybe you could make a benchmark on a freshly new created react app of the install time?

[2018-08-30 12:59] ghamaide commented on #183
@benja-M-1 sure I'll try and have a full yarn project vs a full NPM project. A fun fact is that when I changed this [line](https://github.com/theodo/theodo-stack-generator/blob/master/generators/react/index.js#L203) and replaced `yarn` with `npm install` the generated project had missing dependencies (`jest-cli` for example). Didn't manage to figure out why.

[2018-08-30 13:45] ghamaide commented on #182
Fixed in bc1d9261bbe8fb959b13c1aa8b28c9c4d39997b5 and 8ad890dcff40833d09116a0592b3b098712ed26c

[2018-08-30 13:56] ghamaide commented on #182
@benja-M-1 i wouldn't close this issue, flow runs but the typings are failing. I have 60+ errors when generating a project 👎

[2018-08-31 06:01] ghamaide commented on #174
@clementhannicq @tcheymol switched to v10.9.0 on master in this PR #181 .
I'll handle switching the README.md to Node v10.9.

[2018-08-31 06:08] ghamaide commented on #174
PR: https://github.com/theodo/theodo-stack-generator/pull/184

[2018-08-31 06:41] #174 closed

[2018-08-31 06:42] ghamaide commented on #172
I remove the RFC label, it's been added as part of the Theodo stack.
https://m33.gitbook.io/standards/technical-gesture/theodo-stack

cc @ThierryCols @jbeurel @benja-M-1 @tcheymol

[2018-08-31 06:43] ghamaide commented on #108
@tcheymol no news on this, I close it. Reopen it with a screenshot and more details if it's still relevant.

[2018-08-31 06:43] #108 closed

[2018-08-31 06:47] ghamaide opened #185 "Ensure the prettier configuration is the same in the generator as in the generated project"
If not, we will have linting issues when generating projects.

[2018-09-02 17:54] benja-M-1 commented on #173
The only information the generator provides to Vagrant is the box name: https://github.com/theodo/theodo-stack-generator/blob/master/generators/server/templates/Vagrantfile#L2

@clementhannicq correct me if I am wrong, the box management must be done on the host machine. So you have to upgrade it on your own with the command Vagrant gave you.

[2018-09-02 17:54] #173 closed

[2018-09-02 18:17] benja-M-1 commented on #177
@ghamaide ce serait top de permettre aux projets qui n'utilisent pas cette façon de faire de les aider à migrer facilement. Tu connais un projet qu'on peut utiliser pour faire un premier codemod ?

[2018-09-04 08:52] benja-M-1 commented on #107
Deux projets ont raté leur sprint à cause de ça récemment : alto et erneste. Il faut qu'on craque le truc ASAP

[2018-09-04 13:09] Bernardstanislas opened #188 "Document all the technical choices"
A lot of people work with the generator, without knowing the reasons behind every technical choices made on it.
For example, why do we use Redux? Why not Mobx?

In a future PR, I'll try to bring a solution to this problem :)

[2018-09-04 15:37] ghamaide commented on #177
@benja-M-1 le projet de @ThierryCols en aurait eu besoin aujourd'hui il me semble. J'ai pas d'autres projets en tête mais je peux creuser pour en trouver un.

[2018-09-04 15:56] benja-M-1 commented on #123
@phacks we need you on that. We want to implement what you recommend for performances. Could you help us?

[2018-09-04 15:57] tcheymol commented on #137
Add a default configuration for phpunit for symfony

[2018-09-04 15:58] benja-M-1 commented on #137
We must put this in its own generator (see #142)

[2018-09-04 16:28] JusteLeblanc commented on #137
@benja-M-1 Yes agree with that. I will work on this tomorrow hopefully if current provisioning PR is merged.

[2018-09-04 17:27] MaximeThoonsen commented on #123
Hello @benja-M-1 and @phacks and @JusteLeblanc ,

I think we should also consider the devops aspect. From the LVMH experience, it was a problem that the api was in /api and not in api. It added complexity because of the proxy pass that we needed to add to the nginx conf. I sadly don't recall exactly the problem :/.

Anyway, if we want to reduce the OPTIONS requests impact, I find some links:
- htt

[2018-09-04 19:59] Remy-Luciani commented on #165
@MaximeThoonsen

This is wrong. Capistrano has a bunch of events where you can add any task in a declarative way. Shipit is based on a task orchestrator with similar event workflow, a plugin system and its API allow you to write procedural task anyhow.

I agree. But imo, this generator is here to avoid all teams to waste time everyday, not once. I think we should not "Move fast, break things". We

[2018-09-04 20:00] Remy-Luciani commented on #185
What is the current issue?

[2018-09-04 20:03] Remy-Luciani commented on #171
@benja-M-1 I think Antoine Khan (can't find him on GitHub) masters a better solution called pipenv. We should ask him.

[2018-09-05 05:53] clement-escolano commented on #123
@MaximeThoonsen Where did you read that using `test/plain` avoid CORS? I would like to investgate this as I wasn't aware of this and in order to see if there are possible security issues about it.

[2018-09-05 07:42] MaximeThoonsen commented on #123
@clement-escolano in almost all links above :)
"
_> If the Content-Type header has a value

application/x-www-form-urlencoded
multipart/form-data
text/plain
"_

[2018-09-05 07:44] antkahn commented on #171
You just have to create a Pipfile file in your project like so https://github.com/pypa/pipenv/blob/master/Pipfile with your version of ansible in the dev packages

Then a `pipenv install` will install the dependencies in a custom made venv

[2018-09-05 08:29] clement-escolano commented on #123
@MaximeThoonsen OK I see. I will check but my estimate is that it is not a problem security-wise.

[2018-09-05 08:52] Remy-Luciani commented on #165
Seen with @MaximeThoonsen , Ansistrano seems to be the best solution so far:

- It is not a deployment automation _library_, but a bundle of pre-written Ansible playbook/roles used for automated deployment. Which means it can be harmlessly hacked for bespoken needs, which happens a lot on deployment matters.
- Debugging Ansible is easy (DEBUG mode, verbosity, because all things are a task, you can

[2018-09-05 09:00] phacks commented on #123
@MaximeThoonsen Thanks for the detailed and thorough explanation!

Two small comments:

Any `GET` request containing the `Authorization` header will not be considered _simple_ and will be preflighted, and if I remember correctly we use this header in the Generator to handle authentication. ([Source](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Simple_requests))

For the `application/json

[2018-09-05 09:06] phacks commented on #123
@MaximeThoonsen Forgot to mention it but I’d be okay for your solution (`api.mydomain.com`) under the condition that the CORS cache is correctly set up so that the performance impacts are minimized :)
We can split this issue in two if you need me to take care of CORS configuration!

[2018-09-05 09:12] MaximeThoonsen commented on #123
@phacks Ok I had the same conclusion. I think there is enough things to say for a good article ;)
OK for me to split into two issues cc @benja-M-1 @JusteLeblanc

[2018-09-05 09:37] phacks commented on #123
Oh, just found something interesting re: preflight cache ([source](https://medium.com/@ankur_anand/the-terrible-performance-cost-of-cors-api-on-the-single-page-application-spa-6fcf71e50147)):

Meaning that preflight cache probably isn’t a good option for our use-case (I figure most of Theodo’s webapps today make requests to a lot of `/:id` through navigation).

Back to square one 😣

[2018-09-05 09:46] MaximeThoonsen commented on #123
OK. So let's say that we go /api and we will let the devops handle the problems with some gateway. After all I was trying to prevent a devops problem but the final customers (and so the perf of the app) are more important.
I suggest we go to /api and if we found a way of fixing this problem we go back to api.
OK @benja-M-1 @JusteLeblanc @phacks ?

[2018-09-05 09:55] benja-M-1 commented on #123
With a reverse proxy you can deploy any apps wherever you want. So it is not a blocker to me.

So the question now is who is willing to investigate on this?

[2018-09-05 10:05] MaximeThoonsen commented on #123
@benja-M-1 yes I agree it's not a blocker.

What do you mean ? Who is willing to perform the changes ? I think it's already /api in the nginx template so there is nothing to do.

If you are speaking about how we deploy on AWS I think we can wait to see with Wilko.

[2018-09-05 12:38] ghamaide commented on #185
@Remy-Luciani the prettier configuration is not the same between the generator and the generated app. Which means that when you work on the generator, on the templates for example, they'll be formatted in a way that the generated app may see as a linter error (the generated app's linter uses the prettier configuration). Is it clearer ?

[2018-09-05 14:31] JusteLeblanc commented on #165
@Remy-Luciani 👍
@MaximeThoonsen would love coding on generator to add it with you as I will need to replace Shipit by Ansistrano on my future project.

It will be interesting to have a subgenerator to add Ansistrano on any existing project. @benja-M-1 agree with that ?

[2018-09-05 15:18] Remy-Luciani commented on #185
Absolutely.

Which one is the best according to you, the generator or the generated one?

[2018-09-05 17:09] JusteLeblanc opened #190 "Update ubuntu version to LTS (18.04)"
Actual Vagrant version is ubuntu 16.04 - Xenial.
The LTS is 18.04

[2018-09-05 17:09] JusteLeblanc commented on #190
@MaximeThoonsen next issue to solve in provisioning generator :)

[2018-09-05 20:13] JusteLeblanc opened #191 "Add https-local role to have HTTPS in local environment"
Branch name on which there is the new role `feat/add-https-vagrant`

[2018-09-05 20:19] JusteLeblanc commented on #123
It's time to close this issue. Feel free to re-open it if we found a way to fix it.

[2018-09-05 20:19] #123 closed

[2018-09-11 09:27] benja-M-1 opened #197 "Developer experience"
DX is very bad when we change something in the react/Symfony templates or Symfony provisioning.

We have to

* generate a project
* code in it
* copy/paste changes in the templates which is error prone
* generate a new projet to check everything works just fine

Don't have any idea how to improve it yet. @tcheymol @ghamaide @georgesbiaux @clementhannicq  we must work on it for 1.3.0

[2018-09-11 10:00] AleBlondin opened #199 "Can't build the project in production mode with npm"
When running `npm install --production`, eslint is not installed. Afterwards `npm build --production` throws an error because eslint is not installed.

I looked up the error quickly and I found this issue : https://github.com/facebook/create-react-app/pull/3771 that warns about adding eslint as a devDependency when using react-scripts.

For info I am the first to face this issue because I changed

[2018-09-11 10:01] AleBlondin commented on #199
Also linked with this issue about npm against yarn usage: https://github.com/theodo/theodo-stack-generator/issues/183

[2018-09-11 10:28] AleBlondin commented on #199
![image](https://user-images.githubusercontent.com/25102531/45354556-2b51e080-b5be-11e8-88d1-5478c34342d3.png)

[2018-09-11 10:36] AleBlondin commented on #199
package.json:

[code]

[2018-09-11 10:47] benja-M-1 commented on #199
I also have an error but I have another error on the same file.

I tried to generate a new project with create-react-app, install the same version of eslint as you, installing and building with --production works fine.

This, I don't think it is related to eslint. But I can't figure out why it fails for the moment...

[2018-09-11 14:16] #199 closed

[2018-09-14 14:28] ghamaide commented on #182
Done in #193

[2018-09-14 14:28] #182 closed

[2018-09-14 14:31] ghamaide commented on #183
**Yarn pros**
 - https://twitter.com/kaylie_alexa/status/1040524624717643776

[2018-09-18 08:47] MaximeThoonsen commented on #171
This seems to be a nice solution

[2018-09-18 09:04] MaximeThoonsen opened #202 "How to manage env vars on production for ApiPlatform projects ?"
On Alto, we had a lot of issues managing env vars on production.
We tried:

- using the dotenv component => it didn't work for the CLI when deploying with Ansistrano.
- put the vars in /etc/environment   => it didn't work for the webserver

Potential solution: use parameters.yaml files

Source :

- https://stackoverflow.com/questions/49189611/symfony-4-env-files-and-production

[2018-09-18 12:36] ThierryCols commented on #183
@ghamaide
https://twitter.com/sebmck/status/1017425651765166080

[2018-09-18 12:43] tcheymol opened #203 "🐛 Still Flow errors"

[2018-09-18 12:50] JusteLeblanc commented on #202
@MaximeThoonsen on Wero project, @Miniplop uses a [specific role](https://github.com/theodo/wero/tree/staging/devops/provisioning/roles/franklinkim.environment) and Ansible Vault to set env variables on production. @Miniplop is it working?

[2018-09-18 13:30] benja-M-1 commented on #197
After 10 minutes of tough and intense thinking here is a proposal :)

There are 3 parts:
- the skeleton project
- the feature providers
- the feature removers

##Skeleton project

It is a full working project, React + API, on which anybody can contribute.

**Pros**
✅to start a project you clone it
✅to contribute you clone it and send a PR
✅to run the tests, the ci clones it and run the tests

🤩the

[2018-09-18 13:59] foucdeg commented on #197
Kind of similar to migrations with an "up" and "down" process, I like it.

Concerning the cons, we need to see how hard it actually is to implement/maintain a feature provider/remover. Do we already have an example?

[2018-09-18 14:19] benja-M-1 commented on #197
@foucdeg exactly like migrations :)

Indeed. We already have providers but not removers yet... we could try it with the implementation of the authentication

[2018-09-18 14:51] foucdeg commented on #197
Next talk topic by a Theodo dev: #CodeAsMigrations

[2018-09-19 06:08] ghamaide commented on #203
@tcheymol screenshot ?

[2018-09-19 06:13] ghamaide commented on #177
Standard here: https://m33.gitbook.io/standards/technical-gesture/react/react-routing

[2018-09-19 06:28] ThierryCols commented on #177
on clot cette issue ? @ghamaide @benja-M-1

[2018-09-19 12:44] benja-M-1 commented on #177
@ghamaide @ThierryCols ce qu'il manque dans le standard (ou dans l'ADR ;)) c'est le why de cette lib là plutôt qu'une autre. Vous pouvez vous penchez dessus 10 minutes, mettre à jour le standard et on clos l'issue ?

[2018-10-01 12:34] benja-M-1 opened #209 "Add PHPStan in every php projects"

[2018-10-03 06:31] AmauryLiet opened #212 "Backend not generated"
When running `yo theodo-stack`

I get this error:

<img width="1129" alt="image" src="https://user-images.githubusercontent.com/9596435/46393671-815e0380-c6e6-11e8-87a7-a6500e24dc92.png">

Which fails the backend generation:
<img width="494" alt="image" src="https://user-images.githubusercontent.com/9596435/46393707-9f2b6880-c6e6-11e8-8f17-be7d860e08ee.png">

Vagrant 2.0.2
ansible 1.9.6

[2018-10-03 07:26] AmauryLiet opened #213 "File conflicts during app generation"
When installing project from linked github (commit `598c499f260596c3e94adab15677db44c8d37039`)

These conflicts needs to be handled:
<img width="801" alt="image" src="https://user-images.githubusercontent.com/9596435/46395823-e5d09100-c6ed-11e8-9d0b-e7285f6ed1b7.png">

[2018-10-03 07:34] AmauryLiet opened #214 "Trying to run eslint on non-existant folder"
When using master version (commit `598c499f260596c3e94adab15677db44c8d37039` - not the npm package)

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/9596435/46396289-414f4e80-c6ef-11e8-9c4d-65be5c67a5d7.png">

[2018-10-03 07:42] AmauryLiet opened #215 "Wrong handling of appName with '-'(dash) replaced by ' '(space)"
When generating an app in a folder containing dash `-`,

yeoman replaces dash by spaces (see here https://github.com/yeoman/generator/issues/556),

and we use it in the Vagrantfile for the `$HOSTNAME` value (see https://github.com/theodo/theodo-stack-generator/blob/598c499f260596c3e94adab15677db44c8d37039/generators/server/templates/Vagrantfile#L1)

Although vagrant (at least v2.0.2), does not acc

[2018-10-03 07:48] benja-M-1 commented on #214
@ghamaide you had the same issue, did you?

[2018-10-03 10:09] benja-M-1 commented on #213
This is not a big issue, you say yes to all and its ok

[2018-10-03 10:09] #213 closed

[2018-10-03 12:41] AmauryLiet commented on #213
I was just suprised that the same file was generated twice, could there be any data loss?

[2018-10-03 12:58] benja-M-1 commented on #213
I don’t think so. Actually I d’ont know why there are differences. Can you
post the diff somewhere ?

Le mer. 3 oct. 2018 à 14:41, Amaury Liet <notifications@github.com> a
écrit :

--

[image: Theodo] <https://www.theodo.fr/> Benjamin Grandfond
Chief Technology Officer - CTO
+33 6 84 38 77 12 <+33684387712>
48 bd des Batignolles
75017 Paris
<https://www.google.com/maps/place/48+Boulevard+des+Batig

[2018-10-09 07:46] AmauryLiet commented on #213
Seems like it's a conflict between `create-react-app` and the code we generate. Here are some file conflicts:

<img width="492" alt="image" src="https://user-images.githubusercontent.com/9596435/46654056-13af4d00-cba8-11e8-9997-47c3edf4525a.png">

<img width="637" alt="image" src="https://user-images.githubusercontent.com/9596435/46654072-1f027880-cba8-11e8-886d-9fc45cc3806c.png">

<img width="628

[2018-10-10 07:32] AmauryLiet opened #216 "Impossible to generate an react app without API Platform server"
When running the generator with:
[code]

You are then asked
[code]

Which can be verified easily. However the file `.yo-rc.json` is generated **after** the question, and this error is then raised:

[code]

[2019-05-15 13:36] ghamaide opened #220 "Forge link not working"
Hey,
The link https://github.com/theodo/forge doesn't work for me. If it's a private repo, maybe the link should not be on a public one.

[2019-08-05 06:46] #165 closed

[2019-08-07 08:03] JusteLeblanc commented on #165
@matthieuauger why did you close it as Cap is still what is used in Forge for deploying Sf apps ?